//deafult color variables
$green: #65ca7b;
$border-color: #e7e1e1;
$icon-color: #dcd7d7;
$button-text-color: #8e9198;
$table-border: #e5e7eb;
$text-muted: #6b7280;
$primary: #6366f1;
$checkbox-color: #7f56d9;

.home-container {
  padding: 10px;
  height: 100vh;
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .navbar-left {
    display: flex;
    gap: 20px;
    align-items: center;
    button {
      background-color: transparent;
      border: none;
    }
  }
  .nav-title {
    font-size: 30px;
    font-weight: bold;
  }
  .profile {
    p {
      background-color: $green;
      padding: 10px 12px;
      color: white;
      border-radius: 50%;
    }
  }

  .filter-section {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;
  }
  .filter-items {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .filter-button {
    background: transparent;
    border: 1px solid $border-color;
    padding: 7px 19px;
    display: flex;
    gap: 5px;
    border-radius: 7px;
    img {
      width: 15px;
    }
  }
  .filter-select-container {
    border: 1px solid $border-color;
    padding: 7px 19px;
    padding: 7px 19px;
    display: flex;
    gap: 5px;
    border-radius: 7px;
    img {
      width: 15px;
    }

    select {
      border-radius: 7px;
      border: 0px solid $border-color;
    }
  }
  .filter-search {
    background: transparent;
    border: 1px solid $border-color;
    padding: 7px;
    display: flex;
    color: $icon-color;
    width: 350px;
    gap: 5px;
    border-radius: 7px;

    .filter-inp-search {
      border: 0;
      outline: 0;
      box-shadow: none;
      background: transparent;
    }
    .filter-inp-search:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

input[type="checkbox"] {
  accent-color: $checkbox-color;
  width: 16px;
  height: 16px;
}

.table-wrapper {
  margin-top: 50px;
  background: #fff;
  border-radius: 12px;
  border: 1px solid $table-border;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 16px;
  text-align: left;
  font-size: 14px;
}
.name-th {
  border-right: 1px solid $table-border;
  div {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
thead {
  background: #f9fafb;
  color: #6b7280;
}

tbody tr {
  border-top: 1px solid $table-border;

  &:hover {
    background: #fafafa;
  }
}

.name-col {
  display: flex;
  align-items: center;
  gap: 12px;
  border-right: 1px solid $table-border;
  div {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .name {
    font-weight: 600;
  }

  span {
    font-size: 12px;
  }
}

.status {
  display: flex;
  gap: 6px;
}

.badge {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid $border-color;
.dot-class{
    margin-right: 10px;

    &.active {
        color: #16a34a;
    }
    
    &.inactive {
        color: #f59e0b;
    }
    
    &.busy {
        color: #2563eb;
    }
    
    &.on-leave {
        color: #ef4444;
    }
  }
}

.teams {
  display: flex;
  gap: 6px;

  .team {
    padding: 4px 10px;
    border-radius: 16px;
    font-size: 12px;
    border: 1px solid $primary;
    background: #eef2ff;
    &.design {
        background: #f2eefb;
        border-color: #8462D1;
        color: #8462D1;
    }
    &.product {
        background: #f0f5fe;
        border-color: #5F90E1;
        color: #5F90E1;
    }
    &.marketing {
        background: #e8e9f9;
        border-color: #5E62D8;
        color: #5E62D8;
    }
}

  .more {
    background: #f3f4f6;
    border-color: #d1d5db;
    color: #374151;
  }
}

.actions {
  font-size: 18px;
  cursor: pointer;
}

.status-col {
  position: relative;
}

/* dropdown */
.status-dropdown {
  position: absolute;
  width: 140px;
  padding: 14px 30px 20px 20px;
  background: #fff;
  border: 1px solid $table-border;
  border-radius: 8px;
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.1);
  z-index: 10;
  input{
    border-radius: 6px;
    padding: 4px;
    border: 1px solid $table-border;
    width: 100%;
  }

  &.bottom {
    top: 36px;
  }

  &.top {
    bottom: 36px;
  }
}

/* arrow */
.dropdown-arrow {
   height: 17px;
    width: 17px;
    background:rgb(236, 236, 236);
    position: absolute;
    left: 60px;
      box-shadow: 0 40px 40px rgba(0, 0, 0, 0.1);

    position: absolute;
    transform: rotate(45deg);

  &.bottom {
    top: 28px;
  }

  &.top {
    bottom: 28px;
    transform: rotate(225deg);
  }
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 5;
}
